.navbar-container {
    position: absolute;
    bottom: 0;
    background-color: var(--wisteria);
    height: auto;
    width: 100%;
}

.navbar-items {
    padding-top: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.navbar-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    flex-direction: column;
}

.navbar-button p {
    margin: 0;
}
