html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
form,
fieldset,
legend,
input,
textarea,
label,
select,
button,
table,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* Box sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* Remove default margin for list items */
ol,
ul {
  list-style: none;
}
/* Remove default margin for images */
img {
  max-width: 100%;
  height: auto;
}
/* Remove default margin for fieldsets */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.75em 0.35em 0.75em;
}
/* Remove default border and padding for legends */
legend {
  border: 0 none;
  padding: 0;
  white-space: normal;
}
/* Remove default border and padding for buttons */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  padding: 0;
}
/* Remove default outline for buttons */
button,
input {
  outline: none;
}
/* Remove default margin for tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}